
​ ​ body {
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-image: url("./images/house.JPG");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.listing {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.map {
  background-image: url("./images/googlemap.jpeg");
}

​ .searchbar {
  ​display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
​ .form-group {
  width: 40vw;
}
​ .form-control {
  border-radius: 10px;
  opacity: 0.7;
  padding: 2rem;
  font-size: 1.5rem;
}
